<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="reset1.css">
    <link rel="stylesheet" href="reset2.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div class="container">
        <header class="header_con">
            <p>제품정보 등록페이지</p>
        </header>
        <main class="main_con">
            <form class="main_box">
                <div>
                    <p class="title">제품 정보 등록</p>
                </div>
                <label class="t">
                    <p>제품명 :</p><input type="text">
                </label>
                <label class="t">
                    <p>제품가격 :</p><input type="text">
                </label>
                <label class="t">
                    <p>판매자 :</p><input type="text">
                </label>
                <label class="t">
                    <p>카테고리 :</p><select>
                        <option value="상의">상의</option>
                    </select>
                </label>
                <label class="t1">
                    <P>상품이미지</P><input type="file">
                </label>
                <label class="t1">
                    <P>제품설명파일</P><input type="file">
                </label>
                <div class="bu">
                    <button type="submit" class="proaddBtn"> <span class="material-symbols-outlined">
                            arrow_forward
                        </span>
                    </button>
                    <a href="/index" class="main_tag"><span class="material-symbols-outlined">
                            home
                        </span></a>
                </div>

            </form>
        </main>

    </div>

</body>

</html>